<% if item == @best_beers %>
	<h3>Best beers</h3>
<% end %>
<% if item == @best_breweries %>
	<h3>Best breweries</h3>
<% end %>
<% if item == @best_styles %>
	<h3>Best styles</h3>
<% end %>

  <table class="table table-hover">
    <thead>

  <tr>
    <th></th>
    <th>average</th>
  </tr>
  </thead>

  <tbody>
  <% item.each do |it| %>
      <tr>
        <td><%= link_to it.name, it %></td>
        <td><%= round(it.average_rating) %></td>
      </tr>
  <% end %>
  </tbody>
</table>